ENVIRONMENT:
  MAX_EPISODE_STEPS: 2500
SIMULATOR:
  TURN_ANGLE: 30
  TILT_ANGLE: 30
  ACTION_SPACE_CONFIG: "v1"
  AGENT_0:
    SENSORS: ['RGB_SENSOR', 'DEPTH_SENSOR']
    HEIGHT: 0.88
    RADIUS: 0.1
  HABITAT_SIM_V0:
    GPU_DEVICE_ID: 0
    ALLOW_SLIDING: False
  SEMANTIC_SENSOR:
    WIDTH: 256
    HEIGHT: 256
    HFOV: 79
    POSITION: [0, 0.88, 0]
  RGB_SENSOR:
    WIDTH: 256
    HEIGHT: 256
    HFOV: 79
    POSITION: [0, 0.88, 0]
  DEPTH_SENSOR:
    WIDTH: 256
    HEIGHT: 256
    HFOV: 79
    POSITION: [0, 0.88, 0]
TASK:
  TYPE: MultiObjectNav-v1
  POSSIBLE_ACTIONS: ["FOUND", "MOVE_FORWARD", "TURN_LEFT", "TURN_RIGHT"]

  SUCCESS_DISTANCE: 1.5

  SENSORS: ['MULTI_OBJECT_GOAL_SENSOR', 'COMPASS_SENSOR', 'GPS_SENSOR']

  GOAL_SENSOR_UUID: multiobjectgoal

  MEASUREMENTS: [
    'DISTANCE_TO_GOAL',
    'DISTANCE_TO_CURRENT_OBJECT_GOAL', 
    'DISTANCE_TO_MULTI_GOAL',
    'CURRENT_GOAL_SUCCESS', 
    'PROGRESS', 
    'MULTION_SUCCESS', 
    'MULTION_SPL', 
    'MULTION_PPL',
    'EPISODE_LENGTH',
    'RATIO',
    'RAW_METRICS']

  DISTANCE_TO_GOAL:
    DISTANCE_TO: POINT
  CURRENT_GOAL_SUCCESS:
    SUCCESS_DISTANCE: 1.5

DATASET:
  TYPE: MultiObjectNav-v1
  SPLIT: train
  DATA_PATH: "data/datasets/multinav/3_ON/{split}/{split}.json.gz"
  SCENES_DIR: "data/scene_datasets/"
